/node_modules
/public/hot
/public/css/*
/public/js/*
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/compiled.php
app/storage/
.env.*.php
.env.php
.rocketeer/
.DS_Store
:memory
